.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-right: 5%;
  padding-left: 5%;
}

.separator {
  width: 20%;
}

.logo {
  cursor: pointer;
  border-radius: 45%;
  width: 120px;
  height: 80px;
}

.shoppingCartIcon {
  fill: #EF4080;
  margin-right: 0.5rem;
}

.shoppingCart {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #EF4080;
  text-transform: uppercase;
  font-weight: bold;
  width: 20%;
}
