.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  padding: 5%;
  border-radius: 10%;
}

.editModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editModal h1 {
  margin-bottom: 8%;
}

.editModal input {
  margin-bottom: 5%;
  width: 80%;
  border: none;
  border-bottom: 1px solid #EF4080;
  font-size: 1rem;
  color: #EF4080;
  outline: none;
}

.buttonContainer {
  width: 70%;
  display: flex;
  margin-top: 2%;
  justify-content: space-between;
}

.buttonContainer button {
  font-size: 1rem;
  background: none;
  border:2px solid #EF4080;
  padding: 2% 4%;
  color: #EF4080;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.buttonContainer button:hover {
  background: #EF4080;
  color: white;
  transform: scale(1.1);
}

.buttonContainer .cancel {
  border:none;
}

.selector {
  width: 50%;
  outline: none;
  margin: 5%;
  border:none;
  background-color: transparent;
  border-bottom: 1px solid #EF4080;
  color: #EF4080;
  font-size: 1rem;
}

.addToCart {
  width: 50%;
  margin: 5%;
  display: flex;
  justify-content: space-between;
}

.addToCart input {
  width: 50%;
  border-bottom: 1px solid #EF4080;
  font-size: 1rem;
  text-align: center;
}

.addToCart p {
  font-size: 1rem;
  color: #EF4080;
  border: solid 1px #EF4080;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
}

.addToCart p:hover {
  cursor: pointer;
  background-color: #EF4080;
  color: #f9f9f9;
}

.error{
  color: red;
  margin-bottom: 2%;
}